.editor {
  max-width: 450px;
}

.imagesSection {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;

  .currentCoverWrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.error {
  color: var(--color-red-300);
  font-size: 0.85em;
  margin-top: 4px;
}
