.iconActive {
  color: var(--color);
}

.uploadIcon {
  --color: var(--color-blue);
  width: 3rem !important;
  height: 3rem !important;
  margin: 0 auto 1rem auto;
  opacity: 0.8;
}

.uploadReady {
  cursor: pointer !important;
  &:hover {
    opacity: 1;
  }
}

.uploadDisabled {
  color: color-mix(in srgb, var(--color) 20%, gray 80%);
  cursor: not-allowed !important;
}
