.iconActive {
  color: var(--color-green) !important;
}

.uploadIcon {
  width: 3rem !important;
  height: 3rem !important;
  margin: 0 auto 1rem auto;
  color: var(--color-primary-600);
}

.uploadReady {
  color: var(--color-green) !important;
  cursor: pointer !important;
  &:hover {
    color: var(--color-green-hover) !important;
  }
}

.uploadDisabled {
  color: var(--color-gray-300) !important;
  cursor: not-allowed !important;
}
