.container {
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  @media (width <= 768px) {
    margin-top: 0;
    border-radius: 0;
  }
}