.container {
  --color-border: var(--history-entry-border-color);
  --padding-x: 1.5rem;

  @media (width >= 640px) {
    --padding-x: 2rem;
  }

  background-color: var(--color-serie-light2);
  border: 2px solid var(--color-border);
  border-radius: 10px;
  width: 100%;
  margin: 0.25rem;
  overflow: hidden;
}
