.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.5);

  &.withBackground {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.modal {
  --color-separator: var(--color-gray-600);
  background: var(--color-gray-900);
  color: var(--color-gray-100);
  border-radius: 8px;
  padding: 24px;
  padding-top: 0;
  position: relative;
  max-width: 90%;
  max-height: 90vh;
  overflow: auto;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

.modal > header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  line-height: 24px;
  margin-top: 12px;
  color: var(--color-gray-100);
  border-bottom: 1px solid var(--color-separator);

  .title {
    font-size: 1.25em;
    font-weight: bold;
  }

  .closeButton {
    background: none;
    font-size: 32px;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    margin-left: 2rem;
    color: var(--color-gray-100);

    &:hover {
      color: var(--color-gray-300);
    }
  }
}

.modal > .content {
  display: flex;
  flex-flow: column nowrap;

  & > :not(footer) {
    flex: 1;
  }
}

.modal > .content footer {
  padding-top: 1rem;
  display: flex;
  justify-content: right;
  gap: 1rem;
}
