.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.5);

  &.withBackground {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.modal {
  --color-separator: var(--color-gray-600);
  background: var(--color-gray-900);
  color: var(--color-gray-100);
  border-radius: 8px;
  padding: 0;
  position: relative;
  max-width: 90%;
  max-height: 90vh;
  overflow: auto;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  overflow: hidden;

  /* Esto evita que el scroll "burbujee" al padre (body) cuando el modal llega al tope */
  overscroll-behavior: contain;
}

.modal > header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  line-height: 24px;
  border-bottom: 1px solid var(--color-separator);
  color: var(--color-gray-100);
  width: 100%;

  .title {
    font-size: 1.25em;
    font-weight: bold;

    @media (width < 500px) {
      font-size: 1em;
    }
  }

  .closeButton {
    margin-left: auto;
    font-size: 32px;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    background: none;
    color: var(--color-gray-100);

    &:hover {
      color: var(--color-gray-300);
    }
  }
}

.modal > .content {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  overflow: auto;
  padding-bottom: 24px;
}

.modal > header, .content {
  padding: 0 24px;
}