main:has(.queue) {
  width: 100%;
  min-height: 0;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.queue {
  width: 100%;
  max-width: 1000px;
  align-self: center;
  overflow-y: auto;
}
