.container {
  position: fixed;
  bottom: var(--media-player-height);
  background-color: var(--color-gray-925);
  color: var(--color-gray-25);
  max-height: max(30rem, calc(90vh - var(--media-player-height)));
  width: 100%;
  z-index: 200;
  padding: 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  gap: 1rem;
  border-top: solid 2px var(--color-gray-950);
  transition: all 0.2s;

  @starting-style {
    transform: translateY(100%);
  }

  @media (width < 500px) {
    padding: 0.25rem;
    padding-bottom: 0.25rem;
  }

  footer {
    display: flex;
    bottom: 0;
    justify-content: flex-end;
    width: 100%;
  }

  .closeButton {
    --button-size: 1.5rem;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: auto;
  z-index: 199;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }

  &.closed {
    opacity: 0;
    pointer-events: none;
  }
}

.closed {
  transform: translateY(100%);
}
