.list {
  :global(.resource-list-entry) {
    :global(.ui-kit-accordion) {
      @media (hover: hover) {
        --color-hover: var(--color-teal-750);
        --color-hover-text: var(--color-teal-25);
      }
      --color-open: var(--color-teal-800);
      --color-header: var(--color-teal-800);
      --color-container: var(--color-teal-850);

      --spinner-color: var(--color-gray-100);

      --color-border: none !important;

      hr {
        color: var(--color-teal-750);
      }

      color: var(--color-teal-25);

      textarea {
        color: var(--color-teal-900);
      }
    }

    :global(.ui-kit-array-item),
    textarea {
      border-color: var(--color-teal-750);
    }
  }
}
