.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  overflow-y: auto;
}

*:has(> .content) {
  min-width: 0;
}

.mainSection {
  display: flex;
  gap: 24px;
  flex-flow: column nowrap;
}

.imagesSection {
  min-width: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
}

.inputLabel {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid var(--color-gray-700);
  border-radius: 4px;
  background: var(--color-gray-900);
  color: white;
  width: 100%;
  max-width: 400px;

  &:focus {
    border-color: var(--color-blue-600);
    outline: none;
  }
}

/* Acciones inferiores (Delete y Close) */
.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid var(--color-gray-800);
  gap: 1rem;
}
