.sidePadding,
.container {
  --padding-side: 1rem;
  padding-right: var(--padding-side);
  padding-left: var(--padding-side);

  @media (width < 500px) {
    --padding-side: 0;
  }
}

* + .leftDiv,
* + .noLeftDiv {
  margin-left: 1rem;
}

.leftDiv,
.noLeftDiv {
  margin-right: 1rem;

  @media (width < 500px) {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

.leftDiv {
  width: 40px;
  user-select: none;
}

.container {
  --color-playing: var(--color-blue-400);
  --color-playing-hover: var(--color-blue-500);

  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 8px;
  transition: all 0.2s ease;
  color: var(--color-gray-400);

  @media (width < 500px) {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  &.dragging {
    pointer-events: none;
  }

  &:hover,
  &.dragging {
    background-color: var(--color-gray-800);
  }

  &.playing {
    background-color: var(--color-gray-900);
    box-shadow: inset 4px 0 0 0 var(--color-playing);
  }

  *:has(> .cover) {
    --size: 40px;
  }

  .right {
    margin-right: 0.5rem;

    .small {
      height: 2.5rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;

      &:has(> :nth-child(1):last-child) {
        font-size: 1em;
        svg {
          height: 0.75em;
          width: 0.75em;
        }
      }

      &:has(> :nth-child(3):last-child),
      &:has(> :nth-child(2):last-child) {
        font-size: 0.8em;
        svg {
          height: 0.6em;
          width: 0.6em;
        }
      }
    }

    * {
      white-space: nowrap;
    }
  }

  .main {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1;
    min-width: 0;
    gap: 4px;

    .title {
      font-weight: 500;
      color: var(--color-gray-25);

      width: fit-content;
      max-width: 100%; /* Evita que se salga del padre y activa el ellipsis */

      &.playing {
        color: var(--color-playing);
      }
    }
  }

  .main.noLeftDiv {
    @media (width < 500px) {
      margin-left: 1rem;
    }
  }
}

.rows {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.columns {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  button:hover {
    background-color: transparent !important;
  }
}

.info {
  width: 4rem;
  margin-right: 1rem;

  @media (width < 450px) {
    margin-right: 0.5rem;
  }
}

.container {
  --is-active: 0;

  @media (width < 600px) {
    --is-active: 1;
  }
}

.container:hover,
.container.playing {
  --is-active: 1;
}

.playButton {
  position: absolute;
  top: 0;

  width: var(--size) !important;
  height: var(--size) !important;

  opacity: var(--is-active) !important;
}

*:has(> .playButton) {
  position: relative;
}

.cover {
  background-color: var(--color-gray-900);
  transition: all 0.2s;
  filter: brightness(calc(1 - (var(--is-active) * 0.5)));
}

*:has(> .cover):hover .cover {
  filter: brightness(0.25) !important;
}

.subtitle {
  font-size: calc(1em / 16 * 14);
  display: flex;
  justify-content: start;
  width: 100%;
}
