.sidePadding,
.container {
  --padding-side: 1rem;
  padding-right: var(--padding-side);
  padding-left: var(--padding-side);

  @media (width < 500px) {
    --padding-side: 0;
  }
}

* + .leftDiv,
* + .noLeftDiv {
  margin-left: 1rem;
}

.leftDiv,
.noLeftDiv {
  margin-right: 1rem;

  @media (width < 500px) {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

.leftDiv {
  width: 40px;
  user-select: none;
}

.container {
  --color-playing: var(--color-blue-400);
  --color-playing-hover: var(--color-blue-500);

  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 8px;
  transition: all 0.2s ease;
  color: var(--color-gray-400);

  @media (width < 500px) {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  &.dragging {
    pointer-events: none;
  }

  &:hover,
  &.dragging {
    background-color: var(--color-gray-800);
  }

  &.playing {
    background-color: var(--color-gray-900);
    box-shadow: inset 4px 0 0 0 var(--color-playing);
  }

  *:has(> .cover) {
    --size: 40px;
  }

  .right {
    font-size: 0.8rem;
    margin-right: 0.5rem;

    .small {
      height: 2.5rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;

      svg {
        height: 1rem;
      }

      &:has(> :nth-child(3):last-child) {
        font-size: 0.8rem;
        svg {
          height: 1rem;
        }
      }

      &:has(> :nth-child(2):last-child) {
        font-size: 0.8rem;
        svg {
          height: 0.8rem;
        }
      }
      @media (width < 800px) {
        &:has(> :nth-child(3):last-child) {
          font-size: 0.8rem;
          svg {
            height: 0.8rem;
          }
        }
      }
      @media (width < 700px) {
        &:has(> :nth-child(2):last-child) {
          font-size: 0.8rem;
          svg {
            height: 0.8rem;
          }
        }
      }
    }

    * {
      white-space: nowrap;
    }
  }

  .main {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1;
    min-width: 0;
    gap: 4px;

    .title {
      font-weight: 500;
      color: var(--color-gray-25);

      &.playing {
        color: var(--color-playing);
      }
    }
  }

  .main.noLeftDiv {
    @media (width < 500px) {
      margin-left: 1rem;
    }
  }
}

.rows {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.columns {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  button:hover {
    background-color: transparent !important;
  }
}

.info {
  margin-right: 1rem;

  @media (width < 450px) {
    margin-right: 0.5rem;
  }
}

.playButton {
  opacity: 0 !important;
  position: absolute;
  top: 0;

  width: var(--size) !important;
  height: var(--size) !important;
}

*:has(> .playButton) {
  position: relative;
}

.container:hover .playButton,
.container.playing .playButton {
  opacity: 1 !important;
}

.cover {
  background-color: var(--color-gray-900);
  transition: all 0.2s;
}

.container:hover:has(.playButton) .cover,
.container.playing:has(.playButton) .cover {
  filter: brightness(0.5);
}

*:has(> .cover):hover .cover {
  filter: brightness(0.25) !important;
}

.subtitle {
  font-size: 14px;
  display: flex;
  justify-content: start;
  width: 100%;

  .separator {
    white-space: pre; /* Evita que colapse */
    margin: 0 5px;
  }
}
