.cover {
  height: var(--size, 100%);

  aspect-ratio: 1 / 1;
  object-fit: contain;
  flex-shrink: 0;

  border-radius: 8px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon {
  color: var(--color-gray-200);

  --size: 50%;
  width: var(--size) !important;
  height: var(--size) !important;
}
