.txt {
  font-size: 1em;
  width: 3.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.txt.change {
  font-size: 0.85em;
}
.element {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.25em;

  svg {
    height: 0.75em;
    width: 0.75em;
  }
}
