.container {
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0;
  padding-left: 0.25rem;
}

.toggleButton {
  transition: background var(--transition-duration) ease-in-out;
}

.active {
  opacity: 1;
}

.inactive {
  --button-background-color: var(--color-gray-600);
}
