.playlistCover {
  width: var(--size, 100%);
  height: var(--size, 100%);
  border-radius: 8px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.playlistCoverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playlistCoverIcon {
  color: var(--color-gray-200);

  --size: 50%;
  width: var(--size) !important;
  height: var(--size) !important;
}
