.playlistContainer {
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.hideLt500 {
  display: contents;
}

.playlistHeader {
  background: var(--color-playlist);
  color: white;
  padding: 48px;
}

.headerContent {
  display: flex;
  gap: 1.5rem;
}

.playlistCover {
  --size: 12rem;
}

.playlistInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}

.playlistTitle {
  font-size: 3rem !important;
  font-weight: bold;
  margin: 1rem 0;
  line-height: 1.2;
  word-break: break-word;
  text-align: left !important;
  white-space: normal !important;
  align-self: flex-start;

  display: flex;
  align-items: center;
  min-height: 3em;

  *:first-child {
    margin: 0;
    white-space: wrap;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número de líneas deseadas */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: inherit;
  }
}

.playlistStats {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
  justify-content: left;

  flex-flow: row nowrap;
  gap: 0.5rem;
}

.statItem {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;

  &.createdAt {
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.playlistControls {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
}

.playAllButton {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--color-green-700);
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.playAllButton:hover {
  background-color: var(--color-green-600);
}

.playlistContent {
  padding: 24px 0;
  .tracksHeader {
    --height: 1.25rem;
    display: flex;
    align-items: center;
    padding: 0 12px 8px;
    border-bottom: 1px solid var(--color-gray-500);
    margin-bottom: 8px;
    font-size: var(--height);
    color: var(--color-gray-100);
    font-weight: 500;

    user-select: none;

    svg {
      width: var(--height);
      height: var(--height);
    }
  }

  .headerIndex {
    width: 32px;
    margin-right: 1rem;
    text-align: center;
  }

  .headerTitle {
    flex: 1;
    min-width: 0;
  }

  .headerDuration {
    width: 32px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headerActions {
    width: 56px;
    margin-right: 0.5rem;
  }

  .tracksList {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .emptyState {
    text-align: center;
    padding: 48px 24px;
    color: #666;

    .emptyStateIcon {
      color: #ccc;
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    .emptyStateText {
      font-size: 1rem;
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  .playlistContainer {
    margin-top: 0;
    border-radius: 0;
  }

  .playlistHeader {
    padding: 2rem;
  }

  .headerContent {
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .playlistCover {
    --size: 8rem;
  }

  .playlistTitle {
    max-height: 2em;
    font-size: 2rem !important;
    margin: 0;

    *:first-child {
      -webkit-line-clamp: 2; /* Número de líneas deseadas */
      line-clamp: 2;
    }
  }

  .headerYear {
    display: none;
  }
}

@media (width < 500px) {
  .hideLt500 {
    display: none;
  }

  .playlistHeader {
    padding: 1rem;
  }

  .playlistCover {
    --size: 5.375rem;
  }

  .playlistControls {
    margin-top: 1rem;
  }

  .playlistItem {
    padding: 0.25rem 0;
  }

  .tracksHeader {
    padding-left: 0 !important;
    padding-right: 0 !important;
    --height: 1rem !important;
  }

  .headerDuration {
    margin-left: 0.5rem;
  }

  .playlistTitle {
    font-size: 1.5rem !important;
    max-height: 2em;
    margin: 0;

    *:first-child {
      -webkit-line-clamp: 2; /* Número de líneas deseadas */
      line-clamp: 2;
    }
  }
}

.isDragging {
  cursor: grabbing;
}
