.playlistItem {
  --color-playing: var(--color-blue-400);
  --color-playing-hover: var(--color-blue-500);

  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--color-gray-800);
  }

  &.playing {
    background-color: var(--color-gray-900);
    border-left: 4px solid var(--color-playing);
  }
}

@media (width < 500px) {
  .albumShowHide {
    display: none;
  }

  .actions {
    gap: 0 !important;
  }

  .songArtist {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.indexNumber,
.songDetails,
.duration,
.settingsButton {
  color: var(--color-gray-400) !important;
}

.indexNumber {
  font-weight: 500;
  font-size: 14px;
}

.playButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-playing);
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.playButton:hover {
  background-color: var(--color-playing-hover);
}

.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coverIcon {
  color: #999;
  font-size: 20px;
}

.songTitle {
  font-weight: 500;
  color: var(--color-gray-25);
  margin: 0 0 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.songTitle.playing {
  color: var(--color-playing);
}

.songDetails {
  display: flex;
  align-items: center;
  min-width: 0; /* Permite que los hijos se encojan más allá de su contenido */
  width: 100%;
  font-size: 14px;

  .separator {
    white-space: pre; /* Evita que colapse */
    margin: 0 5px;
  }
}

.songArtist {
  white-space: nowrap;
}

.songAlbum {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.duration {
  font-size: 14px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: opacity 0.2s ease;
}

.settingsButton:hover {
  cursor: pointer;
  color: var(--color-gray-100) !important;
}

@media (max-width: 768px) {
  .year {
    display: none;
  }
}

.settingsButton {
  &:hover {
    background-color: transparent !important;
  }
}
