.playlistItem {
  --color-playing: var(--color-blue-400);
  --color-playing-hover: var(--color-blue-500);

  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px;
  border-radius: 8px;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--color-gray-800);
  }

  &.playing {
    background-color: var(--color-gray-900);
    border-left: 4px solid var(--color-playing);
  }
}

.indexContainer {
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexNumber,
.songDetails,
.duration,
.favButton,
.settingsButton {
  color: var(--color-gray-400) !important;
}

.indexNumber {
  font-weight: 500;
  font-size: 14px;
}

.playButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-playing);
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.playButton:hover {
  background-color: var(--color-playing-hover);
}

.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coverIcon {
  color: #999;
  font-size: 20px;
}

.songInfo {
  flex: 1;
  min-width: 0;
}

.songTitle {
  font-weight: 500;
  color: var(--color-gray-25);
  margin: 0 0 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.songTitle.playing {
  color: var(--color-playing);
}

.songDetails {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.songArtist,
.songAlbum {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.duration {
  width: 64px;
  text-align: right;
  font-size: 14px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: opacity 0.2s ease;
}

.favButton {
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &.active {
    color: var(--color-red-400) !important;
  }

  &.disabled {
    opacity: 0.25;

    &:hover {
      cursor: not-allowed;
    }
  }
}

.favButton:hover,
.settingsButton:hover {
  cursor: pointer;
  color: var(--color-gray-100) !important;
}

@media (max-width: 768px) {
  .year {
    display: none;
  }
}

.settingsButton {
  &:hover {
    background-color: transparent !important;
  }
}
