.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.item {
  background: var(--color-gray-850);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-gray-700);
  font-size: 0.9rem;
}

.remove {
  margin-left: 0.5rem;
  cursor: pointer;
  color: var(--color-red);
  display: flex;
  background: none;
  border: none;
  padding: 0;
}

.remove svg {
  width: 1rem;
  height: 1rem;
}

.inputWrapper {
  display: flex;
  align-items: center;
}

.inputField {
  width: 8rem;
  min-width: 8rem;
}

.addBtn {
  margin-left: 0.25rem;
  cursor: pointer;
  color: var(--color-green-600);
  display: flex;
  background: none;
  border: none;
  padding: 0;
}