.item {
  user-select: none;
  padding: 8px 0.5rem;
  border-radius: 4px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;

  &:hover {
    cursor: pointer;
    background-color: var(--color-gray-800);
  }

  section {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 0.25rem;

    .name {
      font-size: 1.25em;
    }
    .length {
      font-size: 0.75em;
    }
  }
}

.cover {
  --size: 2.75rem;
}
