.autoBreakUrl {
  word-break: break-all;
  white-space: normal;
  word-wrap: break-word;
}

.lastestLine {
  line-height: 1.5rem;
  margin-left: 1rem !important;
}

.lineWrap {
  flex-wrap: wrap !important;
}
