.subtitle {
  gap: 0.5rem;
}

.metadata {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: var(--color-gray-850);
  margin: 1rem;
  border-radius: 1rem;

  .metadataItem {
    margin: 0.5rem 0;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
  }
}

.disabled {
  opacity: 0.5;
  filter: grayscale(1);
  pointer-events: none;
}

.hr {
  margin: 1rem 0;
  border-color: transparent;
}

.metadataSectionTitle {
  text-align: center;
}