.history-entry {
  .ui-kit-accordion {
    @media (hover: hover) {
      --color-hover: var(--color-serie-darker);
      --color-hover-text: var(--color-serie-text-on-darker);
    }
    --color-open: var(--color-serie-darker);
    --color-container: var(--color-serie-light2);

    --color-link: var(--color-serie-link);
    --color-link-hover: var(--color-serie-link-hover);

    --spinner-color: var(--color-link);
  }
}
