:root {
  --color-music-25: var(--color-teal-25);
  --color-music-50: var(--color-teal-50);
  --color-music-100: var(--color-teal-100);
  --color-music-150: var(--color-teal-150);
  --color-music-200: var(--color-teal-200);
  --color-music-300: var(--color-teal-300);
  --color-music-400: var(--color-teal-400);
  --color-music-500: var(--color-teal-500);
  --color-music-600: var(--color-teal-600);
  --color-music-700: var(--color-teal-700);
  --color-music-800: var(--color-teal-800);
  --color-music-900: var(--color-teal-900);
  --color-music: var(--color-music-500);

  --color-music-text-on-100: black;
  --color-music-text-on-200: black;
  --color-music-text-on-300: black;
  --color-music-text-on-400: black;
  --color-music-text: black;
  --color-music-text-on-600: white;
  --color-music-text-on-700: white;
  --color-music-text-on-800: white;
  --color-music-text-on-900: white;

  --color-music-link: var(--color-blue);
  --color-music-link-hover: var(--color-blue-hover);
}
