.resource-list-entry {
  .ui-kit-accordion {
    @media (hover: hover) {
      --color-hover: var(--color-serie-darker);
      --color-hover-text: var(--color-serie-text-on-darker);
    }
    --color-open: var(--color-serie-darker);
    --color-container: var(--color-serie-light2);

    --color-link: var(--color-serie-link);
    --color-link-hover: var(--color-serie-link-hover);

    --spinner-color: var(--color-link);

    --color-border: var(--color-serie-darker3) !important;

    hr {
      color: var(--color-serie-darker3);
    }

    color: var(--color-serie-darker5);

    textarea {
      color: var(--color-serie-darker5);
    }
  }
}
