.resource-list-entry {
  .ui-kit-accordion {
    @media (hover: hover) {
      --color-hover: var(--color-music-darker);
      --color-hover-text: var(--color-music-text-on-darker);
    }
    --color-open: var(--color-music-darker);
    --color-container: var(--color-music-light2);

    --color-link: var(--color-music-link);
    --color-link-hover: var(--color-music-link-hover);

    --spinner-color: var(--color-link);
  }
}
