.resource-list-entry {
  .ui-kit-accordion {
    @media (hover: hover) {
      --color-hover: var(--color-yellow-600);
      --color-hover-text: var(--color-serie-text-on-600);
    }
    --color-open: var(--color-yellow-600);
    --color-header: var(--color-yellow-150);
    --color-container: var(--color-serie-50);

    --color-link: var(--color-serie-link);
    --color-link-hover: var(--color-serie-link-hover);

    --spinner-color: var(--color-link);

    --color-border: var(--color-yellow-750) !important;

    hr {
      color: var(--color-yellow-750);
    }

    color: var(--color-serie-900);

    textarea {
      color: var(--color-serie-900);
    }
  }
}
