.playlistContainer,
.playlistContainer:hover {
  color: white;
}

.playlistContainer {
  width: 100%;
  margin: 0 auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: var(--color-playlist);
  padding: 1rem 1.5rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;

  user-select: none;

  &:hover,
  &:focus {
    text-decoration: inherit;
    color: inherit;
  }
}

.playlistCover {
  --size: 6rem;
}

.playlistInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;

  min-width: 0;
}
.playlistTitle {
  --padding-vertical: 2px;
  height: calc(2em + 2 * var(--padding-vertical));
  width: 100%;
  margin: 0 0 12px 0 !important;

  /* Flexbox para centrar verticalmente el contenido */
  display: flex !important;
  align-items: center;
  justify-content: flex-start;

  font-size: 2.5rem !important;
  font-weight: bold;
  text-align: left !important;
  line-height: 1em !important;
}

.playlistTitle span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;

  /* Seguridad extra para renderizado de fuentes */
  padding: var(--padding-vertical) 0;
  white-space: normal !important;
}

@media (width < 400px) {
  .playlistTitle {
    font-size: 1.5rem !important;
    margin: 0 0 6px 0 !important;
  }

  .playlistCover {
    --size: 4rem;
  }
}

.playlistStats {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
  justify-content: left;

  flex-flow: row nowrap;
  gap: 0.5rem;
}

.statItem {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;

  &.createdAt {
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.visibility {
  svg {
    width: 1rem;
    height: 1rem;
  }
}
