.button {
  --size: 50px;
  transition: all 0.1s;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: center;
  font-size: 0.8em;
  margin-top: 0.5rem;
  flex: 1;
  width: 100%;

  /* Elimina el fondo y el borde */
  background: none;
  border: none;
  padding: 0;
  color: inherit;

  &:hover {
    cursor: pointer;
    filter: brightness(0.5);
  }

   &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-ui-focus);
  }
}
