.selector {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  min-height: 0;
}

.searchSection {
  display: flex;
  gap: 8px;

  input {
    flex: 1;
    padding: 0.25rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.resultsInfo {
  font-size: 12px;
  color: var(--color-gray-400);
}

.resultsList {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  overflow-y: auto;
  justify-content: space-evenly;
}

.resultItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-blue-900);
  }

  &.selected {
    border-color: var(--color-blue-600);
  }

  .coverImage,
  .coverLabel {
    width: 200px;
  }

  .coverImage {
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
  }

  .coverLabel {
    font-size: 12px;
    color: var(--color-gray-200);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
}

.actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 8px;
}

.currentCoverSection {
  --size: 150px;

  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

@media (width < 400px) {
  .currentCoverSection {
    --size: 100px;
  }

  .resultItem {
    width: 100% !important;
    align-items: center;

    .coverImage,
    .coverLabel {
      width: 100% !important;
    }

    .coverImage {
      height: auto !important;
    }
  }
}
