.selector {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  min-height: 0;
}

.resultsInfo {
  font-size: 12px;
  color: var(--color-gray-400);
}

.resultsList {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  overflow-y: auto;
  justify-content: space-evenly;
}

.resultItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-blue-900);
  }

  &.selected {
    border-color: var(--color-blue-600);
  }

  *:has(> .coverImage),
  .coverLabel {
    width: 200px;
  }

  *:has(> .coverImage) {
    max-width: 200px;
    min-width: 100px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    aspect-ratio: 1 / 1;
  }

  .coverLabel {
    font-size: 12px;
    color: var(--color-gray-200);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
}

.actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 8px;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;

  .currentCoverSection {
    --size: 150px;

    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  .searchAside {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    flex: 1;

    .newImageButton {
      padding: 0.25rem 0.5rem;
      font-size: 0.8rem;

      > section:first-child {
        margin-top: 2px;
        margin-right: 0.25rem;
      }

      svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    .searchSection {
      max-width: 500px;
      min-width: 150px;
      width: 100%;
    }
  }
}

@media (width < 500px) {
  .header {
    gap: 1rem;

    .currentCoverSection {
      --size: 100px !important;
    }
  }

  .resultItem {
    width: 100% !important;
    align-items: center;
    max-width: 250px;

    *:has(> .coverImage),
    .coverLabel {
      width: 100% !important;
    }

    *:has(> .coverImage) {
      height: auto !important;
    }
  }
}
