.tabs {
  width: 100%;
  background-color: var(--color-gray-1000);

  display: flex;
  flex-direction: column;
}

.tabs main {
  width: 100%;
  height: 2rem;

  color: var(--button-link-color);
  background: var(--color-gray-900);
  border-bottom: 1px solid var(--color-gray-800);

  display: flex;
  flex-direction: row;

  user-select: none;
}

.item {
  padding: 12px 0;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: inherit;
  border-right: var(--color-gray-700) solid 1px;

  &:hover,
  &:focus,
  &.active {
    color: var(--button-link-color-hover);
    text-underline-offset: 0.35em;
    text-decoration-line: underline;
  }

  &:hover {
    background: var(--color-gray-800);
  }

  &.active {
    background: var(--color-gray-700);
    text-decoration-thickness: 0.15em;
    font-weight: 600;
  }
}
