.controlButton {
  width: 0.5rem;
  height: 2.5rem;
  padding: 0 8px;
  background: none;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-200);

  &:hover {
    color: var(--color-gray-25);
    cursor: pointer;
  }

  &.overWhite {
    color: var(--color-gray-600);

    &:hover {
      cursor: pointer;
    }
  }
}
