.weight :global(.ui-kit-input-number) {
  width: 4rem;
}

.start :global(.ui-kit-input-number),
.end :global(.ui-kit-input-number) {
  width: 6rem;
}

.start :global(.ui-kit-resource-input),
.end :global(.ui-kit-resource-input) {
  width: auto;
}

.start,
.end {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  column-gap: 1rem;
}

.duration {
  text-wrap: nowrap;
}
