.container {
  .weight :global(.ui-kit-input-number) {
    width: 4rem;
  }

  .startEnd {
    column-gap: 1.5em;

    .start :global(.ui-kit-input-number),
    .end :global(.ui-kit-input-number) {
      width: 6rem;
    }

    .start :global(.ui-kit-resource-input),
    .end :global(.ui-kit-resource-input) {
      width: auto;
    }

    .start,
    .end {
      flex-grow: 1;
      flex-shrink: 1;
    }

    .start span,
    .end span {
      align-items: center;
    }
  }

  .tags {
    flex-wrap: nowrap;
  }

  .url {
    flex-wrap: nowrap;
  }

  .url * {
    margin: 0.25em 0;
  }

  .url a {
    margin-left: 1em;
    text-wrap: wrap;
  }
}
