.volumeContainer {
  display: flex;
  align-items: center;

  .volumeSliderContainer {
    width: 100px;
    overflow: hidden;
    margin-right: 8px;
    display: flex;
    align-items: center;
  }

  .volumeRange {
    width: 100%;
    height: 4px;
    cursor: pointer;
    accent-color: white;
  }
}
