.container {
  --clickacle-height: 1.5rem;
  --progress-height: 2px;
  --progress-color: var(--color-red);

  width: 100%;
  height: var(--clickacle-height);
  display: flex;
  align-items: center;
  user-select: none;

  .progressBackground {
    width: 100%;
    height: var(--progress-height);
    background-color: var(--color-gray-700);
    position: relative;
    transition: height 0.1s ease;
  }

  .progressFill {
    height: 100%;
    background-color: var(--progress-color);
    width: 0%;
    position: relative;
  }
}

.container:not(.onlyView) {
  cursor: pointer;

  &:hover .progressFill,
  &:hover .progressBackground {
    transform: scaleY(1.5);
  }
}

.timeTooltip {
  position: absolute;
  transform: translateX(-50%) translateY(-20px);
  color: var(--color-gray-25);
  background-color: var(--color-gray-950);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  pointer-events: none;
  white-space: nowrap;
}

.thumb {
  --thumb-size: 0.75rem;

  position: absolute;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--progress-color);
  border-radius: 50%;
  transition: transform 0.1s ease;
  pointer-events: none; /* Para que no interfiera con los clics del contenedor */
}

.thumbActive {
  transform: scale(1.5);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
