.footer {
  padding-top: 1rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: center;

  &:not(:has(>aside)) {
    justify-content: right;
  }

  &:not(:has(>aside)), >aside {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }

  &:has(>aside:nth-child(2)) {
    justify-content: space-between;
  }

  > aside {
    justify-content: center;
    align-items: center;
  }
}
