.list {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;
  margin: 1rem 0;

  h3 {
    font-size: 1.5rem !important;
    @media (width < 500px) {
      font-size: 1.25rem !important;
    }
    @media (width < 300px) {
      font-size: 1rem !important;
    }
  }
}
