.searchRow {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 2rem;
  align-items: center;

  @media (width < 600px) {
    padding-right: 0.5rem;
  }
}
