.searchRow {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 0.25rem 2rem;
  gap: 1rem;
  align-items: center;

  @media (width < 600px) {
    padding: 0.125rem 0.5rem;
    gap: 0.25rem;
  }

  input {
    flex: 1;
    border-radius: 1rem;
    color: white;
    font-size: 1rem;
    padding-left: 1rem;
    border: 1px solid transparent;
    height: 2rem;
    background-color: var(--color-gray-900);

    &:focus {
      outline: none;
      border: 1px solid var(--color-gray-600);
    }
  }
}

.searchButton {
  padding: 0.25rem;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background-color: var(--color-gray-900);
  }

  svg {
    transform: none !important;
    height: 1.5rem !important;
    width: 1.5rem !important;
  }
}
