.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-width: 100vw;
  width: 100vw;
}
.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.15;
  font-size: 15vw;
}

.title {
  text-align: center;
}

.main {
  width: 95vw;
}

@media (width >= 640px) {
  .title {
    font-size: 6rem;
  }
  .main {
    width: 590px;
  }
}
