/* content inline. Ej: LatestComponent */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Variables */
  --spinner-size: 5rem;
  --spinner-width: 0.4rem;
}

.contentSpinner {
  flex: 1;
}
.inlineSpinner {
  display: inline-flex;
}

/* full page. Ej: MusicList */
main:has(> .loading) {
  min-height: inherit;
  position: relative;
  width: 100%;
  min-height: calc(100dvh - var(--content-margin-top));
  justify-content: center;
  align-items: center;

  .loading {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    /* Variables */
    --spinner-size: 5rem;
    --spinner-width: 0.4rem;
  }
}
