.spinner {
  border-top: var(--spinner-width) solid var(--spinner-color);
  border-right: var(--spinner-width) solid var(--spinner-color);
  border-bottom: var(--spinner-width) solid var(--spinner-color);
  border-left: var(--spinner-width) solid transparent;
  border-radius: 50%;
  width: calc(var(--spinner-size) - var(--spinner-width));
  height: calc(var(--spinner-size) - var(--spinner-width));
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
