.container {
  --history-entry-background-color: var(--color-music-light2);
  --color-link: var(--color-music-link);
  --color-link-hover: var(--color-music-link-hover);

  background-color: var(--history-entry-background-color);
  border: 2px solid var(--history-entry-border-color);
  border-radius: 10px;
  width: 100%;
  margin: 0.25rem;
  overflow: hidden;
}
