.artist {
  white-space: nowrap;
}

@media (width < 500px) {
  .albumShowHide {
    display: none;
  }

  .artist {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.checkbox {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  margin-right: 0.25rem;
  cursor: pointer;
  accent-color: var(--color-blue-300);
}
