.container {
  display: flex;
  column-gap: 1rem;

  aside {
    font-size: 1rem;

    svg {
      transform: scale(0.7);
    }

    * {
      white-space: nowrap;
    }
  }

  :global(aside):first-of-type {
    justify-content: start;

    > * {
      justify-content: start;
    }
  }

  :global(aside):last-of-type {
    justify-content: end;

    > * {
      justify-content: end;
    }
  }
}
