.container {
  display: flex;
  column-gap: 1rem;

  aside {
    font-size: 1rem;

    .small {
      &:has(> :nth-child(3):last-child) {
        font-size: 1rem;
        line-height: 1.2em;
        svg {
          height: 1rem;
        }
      }

      &:has(> :nth-child(2):last-child) {
        line-height: 1.7em;
        font-size: 1rem;
        svg {
          height: 1rem;
        }
      }
      @media (width < 800px) {
        &:has(> :nth-child(2):last-child) {
          line-height: 1.5em;
        }
        &:has(> :nth-child(3):last-child) {
          font-size: 0.8rem;
          line-height: 1.1em;
          svg {
            height: 0.8rem;
          }
        }
      }
      @media (width < 700px) {
        &:has(> :nth-child(2):last-child) {
          line-height: 1.6em;
          font-size: 0.8rem;
          svg {
            height: 0.8rem;
          }
        }
      }
    }

    * {
      white-space: nowrap;
    }
  }

  :global(aside):first-of-type {
    justify-content: start;

    > * {
      justify-content: start;
    }
  }

  :global(aside):last-of-type {
    justify-content: end;

    > * {
      justify-content: end;
    }
  }

  .rows {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: center;

    > * {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .columns {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    button:hover {
      background-color: transparent !important;
    }
  }
}

.favButton {
  margin-right: 0.25rem;
  margin-left: 0.5rem;
  svg {
    transform: scale(1) !important;
  }
}
