.container {
  background: var(--color-playlist);
}


.listTopRow {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.listCover {
  flex: 1;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  min-width: 100px;
  max-width: 300px;
  aspect-ratio: 1 / 1;
}

.listTitle {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  font-size: 3rem !important;
  font-weight: bold;
  line-height: 1.2;
  word-break: break-word;
  white-space: normal;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}

.listBottomRow {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-flow: row wrap;
}

.listInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
  flex-wrap: wrap;
}

@media (width <= 768px) {
  .header {
    padding: 2rem;
  }

  .listTitle {
    font-size: 2rem !important;
    margin: 0;
  }
}

@media (width < 500px) {
  .header {
    padding: 1rem;
  }

  .listTitle {
    font-size: 1.5rem !important;
  }

  .listBottomRow {
    gap: 1rem;
  }
}