.header {
  background: var(--color-playlist);
  color: white;
  padding: 48px;
}

.headerContent {
  display: flex;
  gap: 1.5rem;
  align-items: flex-end;
}

.cover {
  --size: 13rem;
}

.info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}

.title {
  font-size: 3rem !important;
  font-weight: bold;
  margin: 1rem 0;
  line-height: 1.2;
}

.stats {
  display: flex;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
  flex-flow: row wrap;
  gap: 0.5rem;
  align-items: center;
}

.statItem {
  display: flex;
  align-items: center;
  gap: 4px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
}

@media (width <= 768px) {
  .header {
    padding: 2rem;
  }
  .headerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .info {
    align-items: center;
  }
  .stats {
    justify-content: center;
  }
  .title {
    font-size: 2rem !important;
  }
}