.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.content {
  padding: 1rem;
}

.seasonTitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}