.content {
  padding: 1rem;

  @media (width < 500px) {
    padding: 0;
  }
}

.seasonTitle {
  margin-top: 1rem !important;
  margin-bottom: 0rem !important;
  font-size: 1.3rem !important;
  font-weight: bold;
  color: var(--color-title)
}

.seasonEpisodesCount {
  margin-left: 0.5rem;
}