.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;

  p:first-child {
    font-size: 1.25rem;
  }

  p {
    margin: 0.25rem 0;
  }
}

main:has(> .page) {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: inherit;
}
