body:has(.button) {
  /* Variables white theme */
  --button-white-background-color: var(--color-gray-25);
  --button-white-color: black;
  --button-white-hover-background-color: var(--color-gray-50);
  --button-white-disabled-background-color: var(--color-gray-200);
  --button-white-disabled-color: var(--color-gray-500);

  /* Variables blue theme */
  --button-blue-background-color: var(--color-primary);
  --button-blue-color: white;
  --button-blue-hover-background-color: var(--color-primary-hover);
  --button-blue-disabled-background-color: hsl(
    from var(--color-primary) h 30% l
  );
  --button-blue-disabled-color: var(--color-gray-100);

  /* Variables red theme */
  --button-red-background-color: var(--color-red-700);
  --button-red-color: white;
  --button-red-hover-background-color: var(--color-red-600);
  --button-red-disabled-background-color: hsl(from var(--color-red) h 30% l);
  --button-red-disabled-color: var(--color-gray-100);
}
.button {
  color: var(--button-color);
  background-color: var(--button-background-color);
  border: none;
  border-radius: 0.7rem;
  font-size: 0.9rem;
  padding: 0.5rem 0.75rem;
  height: fit-content;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus-visible {
   box-shadow: 0 0 0 3px var(--color-ui-focus);
  }

  &:disabled {
    background-color: var(--button-disabled-background-color);
    color: var(--button-disabled-color);
    cursor: not-allowed;
  }

  &:hover:not(&:disabled) {
    background-color: var(--button-hover-background-color);
    cursor: pointer;
  }

  &.isSubmitting {
    cursor: progress;
  }

  .left {
    margin-right: 0.5rem;
  }

  .right {
    margin-left: 0.5rem;
  }
}

.blue {
  --button-background-color: var(--button-blue-background-color);
  --button-color: var(--button-blue-color);
  --button-hover-background-color: var(--button-blue-hover-background-color);
  --button-disabled-background-color: var(
    --button-blue-disabled-background-color
  );
  --button-disabled-color: var(--button-blue-disabled-color);
}

.red {
  --button-background-color: var(--button-red-background-color);
  --button-color: var(--button-red-color);
  --button-hover-background-color: var(--button-red-hover-background-color);
  --button-disabled-background-color: var(
    --button-red-disabled-background-color
  );
  --button-disabled-color: var(--button-red-disabled-color);
}

.white {
  --button-background-color: var(--button-white-background-color);
  --button-color: var(--button-white-color);
  --button-hover-background-color: var(--button-white-hover-background-color);
  --button-disabled-background-color: var(
    --button-white-disabled-background-color
  );
  --button-disabled-color: var(--button-white-disabled-color);
}

.darkGray {
  --button-background-color: var(--color-gray-800);
  --button-color: var(--color-gray-25);
  --button-hover-background-color: var(--color-gray-900);
  --button-disabled-background-color: var(--color-gray-700);
  --button-disabled-color: var(--color-gray-400);
}
