*:has(> .container) {
  justify-content: center !important;

  .container {
    color: var(--color-gray-50);
    font-size: 1rem;
    max-width: 30rem;

    .title {
      font-size: 2rem;
      text-align: center;
    }
  }
}

.disabled {
  &,
  &:hover {
    cursor: not-allowed;
    color: var(--color-gray-300) !important;
    text-decoration: none !important;
  }
}

.strong {
  font-weight: bold;
}
