.playlistContainer {
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.playlistHeader {
  background: var(--color-playlist);
  color: white;
  padding: 48px;
}

.headerContent {
  display: flex;
  gap: 1.5rem;
  align-items: flex-end;
}

.playlistCover {
  --size: 13rem;
}

.playlistInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}

.playlistTitle {
  font-size: 3rem !important;
  font-weight: bold;
  margin: 1rem 0;
  line-height: 1.2;
  word-break: break-word;
  text-align: left !important;
  white-space: normal !important;
  align-self: flex-start;

  display: flex;
  align-items: center;
  min-height: 3em;

  *:first-child {
    margin: 0;
    white-space: wrap;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número de líneas deseadas */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: inherit;
  }
}

.playlistStats {
  display: flex;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.8);

  flex-flow: column nowrap;
  gap: 0.75rem;

  .row {
    align-items: center;
    justify-content: left;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
  }
}

.statItem {
  --font-size: 1rem;
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;

  &:has(> svg),
  svg {
    height: var(--font-size);
    width: var(--font-size);
  }
}

.visibility {
  display: flex;
  flex-flow: row wrap;
}

.playlistControls {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
}

.playlistItems {
  margin-top: 1rem;
  margin-bottom: 1rem;
  .tracksHeader {
    --height: 1.25rem;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--color-gray-500);
    margin-bottom: 0.25rem;
    font-size: var(--height);
    color: var(--color-gray-100);
    font-weight: 500;
    user-select: none;

    &:hover,
    &:active {
      background: inherit;
    }

    user-select: none;

    svg {
      width: var(--height);
      height: var(--height);
    }
  }

  .headerIndex {
    text-align: center;
  }

  .headerTitle {
    flex: 1;
    min-width: 0;
  }

  .emptyState {
    text-align: center;
    padding: 48px 24px;
    color: #666;

    .emptyStateIcon {
      color: #ccc;
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    .emptyStateText {
      font-size: 1rem;
      margin: 0;
    }
  }
}

@media (width <= 768px) {
  .playlistContainer {
    margin-top: 0;
    border-radius: 0;
  }

  .playlistStats {
    gap: 0.5rem;
  }

  .statItem {
    --font-size: calc(1rem / 18 * 16);
  }

  .playlistHeader {
    padding: 2rem;
  }

  .headerContent {
    align-items: self-end;
    text-align: center;
    gap: 1rem;
  }

  .playlistCover {
    --size: 7.4rem;
  }

  .playlistTitle {
    max-height: 2em;
    font-size: 2rem !important;
    margin: 0;

    *:first-child {
      -webkit-line-clamp: 2; /* Número de líneas deseadas */
      line-clamp: 2;
    }
  }

  .headerYear {
    display: none;
  }
}

@media (width < 500px) {
  .playAllButton {
    --size: 3rem;
  }

  .playlistStats {
    gap: 0.25rem;

    .statItem {
      --font-size: 0.8rem;
    }
  }

  .playlistHeader {
    padding: 1rem;
  }

  .playlistCover {
    --size: 6.5rem;
  }

  .playlistControls {
    margin-top: 1rem;
  }

  .tracksHeader {
    --height: 1rem !important;
  }

  .headerDuration {
    margin-left: 0.5rem;
  }

  .playlistTitle {
    font-size: 1.5rem !important;
    max-height: 2em;
    margin: 0;

    *:first-child {
      -webkit-line-clamp: 2; /* Número de líneas deseadas */
      line-clamp: 2;
    }
  }
}

.sortableItemWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.dragHandle {
  touch-action: none; /* Importante para evitar scroll al arrastrar en móvil */
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  width: var(--drag-width);
  opacity: 0.7;
  margin-left: var(--drag-margin-left);

  &:active {
    cursor: grabbing;
  }
}

.dragHandle:hover {
  cursor: grab;
}

.isDraggingGlobal :not(:has(.isDragging)) {
  pointer-events: none;
}

.isDraggingGlobal,
.isDraggingGlobal .dragHandle:hover {
  cursor: grabbing;
}

.dragHandle:hover,
.isDragging.dragHandle {
  opacity: 1;
  color: white !important;
}

.draggable {
  --drag-width: 2.5rem;
  --drag-margin-left: 0px;

  @media (width < 500px) {
    --drag-width: 1.5rem;
    --drag-margin-left: 0.5rem;
  }
}

.draggable .tracksHeader .headerDrag {
  width: calc(var(--drag-width) + var(--drag-margin-left));
}
