*:has(> .album),
*:has(> .title),
*:has(> .artist) {
  flex-grow: 1;
}

.weight :global(.ui-kit-input-number) {
  width: 4rem;
}

.lineWrap {
  flex-wrap: wrap !important;
}

.title,
.artist,
.album,
.url {
  width: 100%;
}

.container {
  details > summary {
    cursor: pointer;
  }
}
