:global(body):has(.playerContainer) {
  --media-player-height: 90px;
}

.playerContainer {
  --background-color: var(--color-gray-925);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--media-player-height);
  background-color: var(--background-color);
  color: var(--color-gray-400);
  z-index: 200;
  padding: 0;
  padding-left: 1rem;
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1);

  --button-size: 2rem;
}

.playerContent {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  align-items: center;
  width: 100%;
  height: 100%;

  > * {
    height: 100%;
  }
}

.trackInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 10rem;
  height: 100%;
  padding: 1rem 0;
  justify-content: start;

  .trackDetails {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 0.25rem;
    flex: 1;

    .trackTitle {
      font-size: 1.1em;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--color-gray-25);

      width: fit-content;
      max-width: 100%; /* Evita que se salga del padre y activa el ellipsis */
    }

    .trackSubtitle {
      font-size: inherit;
    }
  }
}
.timeLabel {
  font-size: 0.9rem;
  white-space: nowrap;
  margin-right: 1rem;
}

.controlsSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.extraControls {
  --button-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.progressBar {
  position: absolute;
  top: calc(-1 * var(--clickacle-height) / 2);
  left: 0;
  z-index: 200;
}

.progressBarFooter {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  padding-left: 1rem;
  gap: 0.5rem;
}

@media (width < 600px) {
  .extraControls {
    display: none;
  }

  .hideOnSmall {
    display: none;
  }

  .ellipsisOnSmall {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .controlsSection {
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .nextButton {
    --padding: 0;
  }

  .playerContent {
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1rem;
  }

  .playerContainer {
    padding: 0 0.5rem;

    .trackInfo {
      gap: 0.5rem;
    }

    .trackDetails {
      font-size: 0.8em;
    }
  }
}

.fullscreenButton {
  --button-size: 1.5rem;
}

.revealArrowWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .revealArrowInside {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--background-color);
    height: var(--media-player-height);
    position: relative;
  }
}

.effectsWindow {
  .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    > * {
      max-width: 30rem;
    }
  }
}

.closeButton {
  --button-size: 0.8em;
  margin-right: 0.5rem;
  align-self: flex-start;
  margin-top: 0.67rem;
}

.backwardButton,
.forwardButton {
  --button-size: 0.8em;
}

.nextButton {
  margin-left: 0.5rem;
}

.previousButton {
  margin-right: 0.5rem;
}
