@import "./globals-colors.css";
@import "./globals-resolution.css";
@import "./globals-ui-kit.css";
@import "./globals-animation.css";
@import "./scrollbar.css";

:root {
  --color-link: var(--color-blue-300);
  --color-link-hover: var(--color-blue-200);

  --topbar-height: 3rem;
  --sidebar-width: 18dvw;
  --sidebar-min-width: 10rem;
  --sidebar-margin-top: var(--topbar-height);

  --button-link-color: var(--color-gray-50);
  --button-link-color-hover: var(--color-gray-0);

  --color-playlist: linear-gradient(
    135deg,
    var(--color-blue-500) 0%,
    var(--color-purple-600) 100%
  );
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  min-height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: var(--color-link-hover);
}

a:hover {
  cursor: pointer;
}

/** Layout **/

.extra-margin {
  margin: 0 4dvw;
  width: 100vw;
  max-width: 100%;
}

/** Buttons */
.btnClickable:hover {
  box-shadow:
    0 0 0.25em rgba(0, 0, 0, 0.5) inset,
    0 0 0.25em black;
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

hr {
  color: var(--color-gray-400);
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
  width: 100%;
}

.line {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-items: center;
}

.height2 {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.break {
  display: flex;
  flex-basis: 100%;
  height: 0;
  margin-bottom: 3dvh;
}
