:root {

  /* Color */
  --color-red-25: #FFF4F1;
  --color-red-50: #FFECE5;
  --color-red-100: #FFD8CC;
  --color-red-150: #FFC3B2;
  --color-red-200: #FFAC97;
  --color-red-250: #FF937C;
  --color-red-300: #FF765D;
  --color-red-350: #FF5038;
  --color-red-400: #FF0000;
  --color-red-500: #FF0000;
  --color-red-550: #FF0000;
  --color-red-600: #FB0000;
  --color-red-650: #D20000;
  --color-red-700: #AB0000;
  --color-red-750: #850000;
  --color-red-800: #610000;
  --color-red-850: #400000;
  --color-red-900: #210000;
  --color-red-950: #060000;
  --color-red-975: #020000;
  --color-orange-25: #FCF9EA;
  --color-orange-50: #FFF7D9;
  --color-orange-100: #FFEFB1;
  --color-orange-150: #FFE685;
  --color-orange-200: #FFDC4C;
  --color-orange-250: #FFD200;
  --color-orange-300: #FFC700;
  --color-orange-350: #FFBB00;
  --color-orange-400: #FFAF00;
  --color-orange-500: #FE9400;
  --color-orange-550: #DD8000;
  --color-orange-600: #BD6D00;
  --color-orange-650: #9E5A00;
  --color-orange-700: #804800;
  --color-orange-750: #633600;
  --color-orange-800: #472600;
  --color-orange-850: #2D1600;
  --color-orange-900: #160800;
  --color-orange-950: #030100;
  --color-orange-975: #010000;
  --color-yellow-25: #F9FAEB;
  --color-yellow-50: #FAFBDD;
  --color-yellow-100: #FBFEBF;
  --color-yellow-150: #FDFF9F;
  --color-yellow-200: #FFFF77;
  --color-yellow-250: #FFFF3C;
  --color-yellow-300: #FFFF00;
  --color-yellow-350: #FFFF00;
  --color-yellow-400: #FFFF00;
  --color-yellow-500: #FFFF00;
  --color-yellow-550: #FFF800;
  --color-yellow-600: #DDD400;
  --color-yellow-650: #B9B100;
  --color-yellow-700: #969000;
  --color-yellow-750: #757000;
  --color-yellow-800: #555100;
  --color-yellow-850: #373400;
  --color-yellow-900: #1B1A00;
  --color-yellow-950: #050400;
  --color-yellow-975: #010100;
  --color-green-25: #F2FCEF;
  --color-green-50: #EBFFE6;
  --color-green-100: #D6FFCD;
  --color-green-150: #C0FFB2;
  --color-green-200: #A9FF96;
  --color-green-250: #90FD77;
  --color-green-300: #73FB50;
  --color-green-350: #4CF900;
  --color-green-400: #00F700;
  --color-green-500: #00F000;
  --color-green-550: #00D100;
  --color-green-600: #00B200;
  --color-green-650: #009500;
  --color-green-700: #007800;
  --color-green-750: #005D00;
  --color-green-800: #004300;
  --color-green-850: #002A00;
  --color-green-900: #001400;
  --color-green-950: #000300;
  --color-green-975: #000100;
  --color-teal-25: #EAFDFB;
  --color-teal-50: #DBFFFE;
  --color-teal-100: #B8FFFF;
  --color-teal-150: #88FFFF;
  --color-teal-200: #2FFFFF;
  --color-teal-250: #00FFFF;
  --color-teal-300: #00FFFF;
  --color-teal-350: #00FFFF;
  --color-teal-400: #00FFFF;
  --color-teal-500: #00FFFF;
  --color-teal-550: #00FDF4;
  --color-teal-600: #00D9D1;
  --color-teal-650: #00B5AE;
  --color-teal-700: #00938D;
  --color-teal-750: #00726E;
  --color-teal-800: #005350;
  --color-teal-850: #003633;
  --color-teal-900: #001B19;
  --color-teal-950: #000404;
  --color-teal-975: #000101;
  --color-blue-25: #F0F9FF;
  --color-blue-50: #E4F7FF;
  --color-blue-100: #C8EFFF;
  --color-blue-150: #ABE5FF;
  --color-blue-200: #8CDBFF;
  --color-blue-250: #69CFFF;
  --color-blue-300: #3DC3FF;
  --color-blue-350: #00B4FF;
  --color-blue-400: #00A4FF;
  --color-blue-500: #007AFF;
  --color-blue-550: #0069FF;
  --color-blue-600: #0059FF;
  --color-blue-650: #0049F8;
  --color-blue-700: #003ACA;
  --color-blue-750: #002B9E;
  --color-blue-800: #001D74;
  --color-blue-850: #00104D;
  --color-blue-900: #000529;
  --color-blue-950: #000109;
  --color-blue-975: #000002;
  --color-indigo-25: #F7F7FF;
  --color-indigo-50: #F2F2FF;
  --color-indigo-100: #E5E5FF;
  --color-indigo-150: #D9D6FF;
  --color-indigo-200: #CDC7FF;
  --color-indigo-250: #C3B7FF;
  --color-indigo-300: #B9A5FF;
  --color-indigo-350: #B090FF;
  --color-indigo-400: #A978FF;
  --color-indigo-500: #9F1EFF;
  --color-indigo-550: #8919FF;
  --color-indigo-600: #7514FF;
  --color-indigo-650: #610EF3;
  --color-indigo-700: #4D09C6;
  --color-indigo-750: #3B059B;
  --color-indigo-800: #290372;
  --color-indigo-850: #18014B;
  --color-indigo-900: #090028;
  --color-indigo-950: #010009;
  --color-indigo-975: #000002;
  --color-purple-25: #F9F2FF;
  --color-purple-50: #F3E4FF;
  --color-purple-100: #E8C9FF;
  --color-purple-150: #DCAEFE;
  --color-purple-200: #D092FC;
  --color-purple-250: #C474F9;
  --color-purple-300: #B851F6;
  --color-purple-350: #AC1CF1;
  --color-purple-400: #A000EC;
  --color-purple-500: #8700E0;
  --color-purple-550: #7500C3;
  --color-purple-600: #6300A6;
  --color-purple-650: #52008A;
  --color-purple-700: #410070;
  --color-purple-750: #310056;
  --color-purple-800: #22003E;
  --color-purple-850: #130027;
  --color-purple-900: #060012;
  --color-purple-950: #010003;
  --color-purple-975: #010002;
  --color-pink-25: #FFF3FA;
  --color-pink-50: #FFECFA;
  --color-pink-100: #FFD8F5;
  --color-pink-150: #FFC3EF;
  --color-pink-200: #FFADEA;
  --color-pink-250: #FF95E5;
  --color-pink-300: #FF7AE0;
  --color-pink-350: #FF58DA;
  --color-pink-400: #FF1CD5;
  --color-pink-500: #FF00CA;
  --color-pink-550: #FF00AF;
  --color-pink-600: #F00095;
  --color-pink-650: #C9007C;
  --color-pink-700: #A30064;
  --color-pink-750: #7F004D;
  --color-pink-800: #5D0037;
  --color-pink-850: #3D0022;
  --color-pink-900: #1F000F;
  --color-pink-950: #060002;
  --color-pink-975: #010001;

    /* Semantic Aliases */
    --color-red: var(--color-red-500);
    --color-red-hover: var(--color-red-200);
    --color-green: var(--color-green-500);
    --color-green-hover: var(--color-green-300);
    --color-teal: var(--color-teal-500);
    --color-yellow: var(--color-yellow-500);
    --color-yellow-hover: var(--color-yellow-100);
    --color-orange: var(--color-orange-500);
    --color-blue: var(--color-blue-500);
    --color-blue-hover: var(--color-blue-400);
    --color-purple: var(--color-purple-500);


  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);
  --color-primary: var(--color-blue-500);
  --color-primary-hover: var(--color-blue-hover);

  --color-primary2-100: var(--color-yellow-100);
  --color-primary2-200: var(--color-yellow-200);
  --color-primary2-300: var(--color-yellow-300);
  --color-primary2-400: var(--color-yellow-400);
  --color-primary2-500: var(--color-yellow-500);
  --color-primary2-600: var(--color-yellow-600);
  --color-primary2-700: var(--color-yellow-700);
  --color-primary2-800: var(--color-yellow-800);
  --color-primary2-900: var(--color-yellow-900);
  --color-primary2: var(--color-yellow-500);
  --color-primary2-hover: var(--color-yellow-hover);


  --color-success: var(--color-green-500);
  --color-warning: var(--color-yellow-500);
  --color-error: var(--color-red-500);
  --color-info: var(--color-blue-500);

  --color-gray-0: #ffffff;
  --color-gray-25: #f9f9f9;
  --color-gray-50: #f2f2f2;
  --color-gray-100: #e6e6e6;
  --color-gray-150: #d9d9d9;
  --color-gray-200: #cccccc;
  --color-gray-300: #b3b3b3;
  --color-gray-400: #999999;
  --color-gray-500: #808080;
  --color-gray-600: #666666;
  --color-gray-700: #4d4d4d;
  --color-gray-800: #333333;
  --color-gray-850: #262626;
  --color-gray-900: #1a1a1a;
  --color-gray-925: #131313;
  --color-gray-950: #0d0d0d;
  --color-gray-975: #060606;
  --color-gray-1000: #000000;

  --color-border: var(--color-gray-200);
}

