:root {
  --spinner-color: var(--color-gray-200);
  --spinner-size: 1rem;
  --spinner-width: 2px;
}

.ui-kit-input-text,
.ui-kit-input-number {
  width: 100%;
  outline: none;
}

.ui-kit-input-text,
.ui-kit-input-number,
.ui-kit-resource-input-array-string .ui-kit-array-item {
  height: calc(1rem + 6.66667px);
}

.ui-kit-input-text {
  min-width: 150px;
}

.ui-kit-resource-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.ui-kit-resource-input .ui-kit-resource-input-text,
.ui-kit-resource-input .ui-kit-resource-input-number,
.ui-kit-resource-input .ui-kit-resource-input-array-string {
  display: flex;
  flex-flow: row;
  width: 100%;
  margin: 0 1em;

  & label {
    text-wrap: nowrap;
  }
}

.ui-kit-resource-input .ui-kit-resource-input-text,
.ui-kit-resource-input .ui-kit-resource-input-number {
  gap: 0.5rem;

  span {
    display: flex;
    align-items: center;
  }
}

.ui-kit-resource-input .ui-kit-resource-input-number {
  width: fit-content;
}

.ui-kit-resource-input .ui-kit-resource-input-text > span:first-child,
.ui-kit-resource-input .ui-kit-resource-input-number > span:first-child {
  width: 100%;
}

.ui-kit-input-text,
.ui-kit-input-number {
  --border-color: var(--color-gray-200);
  resize: none;
  padding: 0.2em;
  line-height: 1.3em;
  background: white;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  overflow: hidden;
  font-family: monospace;

  &.is-null:not(:focus) {
    background-color: var(--color-gray-500);
  }
}

.ui-kit-input-text,
.ui-kit-input-number,
.ui-kit-resource-input-array-string {
  --border-color: var(--color-gray-700);

    border-color: var(--border-color);
}

.ui-kit-resource-input-array-string {
  display: flex;
  gap: 0.25em 0.5em;
  flex-wrap: wrap;

  .ui-kit-array-item {
    background: var(--color-gray-850);
  }

  .ui-kit-input-text {
    min-width: 0;
    width: 8rem;
  }

  svg {
    stroke: color-mix(in srgb, var(--border-color) 50%, transparent);
    stroke-width: 0.25px;
  }
}

.ui-kit-resource-input-array-string .ui-kit-array-item {
  border-radius: 0.5em;
  border: 1px solid var(--border-color);
  padding: 0 0.5em;
  display: flex;
  align-items: center;

  .ui-kit-delete-button a {
    --color: var(--color-red);
    display: flex;
    color: var(--color);
    width: 1em;
    height: 1em;
    text-align: center;
    line-height: 1em;
    margin-left: 0.5em;

    &,
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.ui-kit-resource-input-array-string .ui-kit-array-add-item {
  display: flex;
  justify-content: center;
  align-items: center;

  .ui-kit-add-button {
    --color: var(--color-green-600);
    color: var(--color);
    padding: 0 0.25em;
    height: 1.3rem;
    width: auto;
    display: flex;
    align-items: center;

    svg {
      width: 100%;
      height: 100%;
      stroke-width: 0.25px;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.ui-kit-resource-input-array-string {
  display: flex;
  flex-flow: row wrap !important;
}

/* Label */
.ui-kit-resource-input:first-child {
  white-space: nowrap;
}

.checkbox-optional {
  input[type="checkbox"] {
    accent-color: var(--color-primary);
  }

  label {
    color: inherit;
  }

  input[type="checkbox"]:hover ~ label {
    color: inherit;
  }

  input[type="checkbox"],
  label {
    cursor: pointer;
  }
}

/* time */

.ui-kit-input-time {
  display: flex;

  .time-inputs {
    display: flex;
    background: white;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: none;
    border: 1px solid var(--border-color);
    gap: 0px;

    &:has(.is-null) {
      background: var(--color-gray-500);
    }
  }

  .time-input-group {
    display: flex;
    height: 100%;

    &:first-child .ui-kit-input-number {
      width: calc(3ch + 4px);
    }

    &:last-child .ui-kit-input-number {
      width: 5ch;
      text-align: left;
      box-sizing: border-box; /* asegura que padding no afecte */
    }
  }

  .time-separator {
    line-height: 0.1rem;
    font-weight: normal;
    padding: 0 3px;
    user-select: none;
    color: black;
  }

  .ui-kit-input-number {
    text-align: right;
    padding: 0rem;
    -moz-appearance: textfield;
    appearance: textfield;
    background: none;
    border: none;

    &.is-null {
      background: none;
    }

    /* Ocultar los controles nativos del input number */
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  /* Controles personalizados */
  .time-controls {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;

    button {
      user-select: none;
    }
  }

  .time-control-btn {
    width: 1rem;
    padding: 0;
    border: 1px solid var(--border-color);
    border-left: none;
    background: var(--color-gray-100);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    height: 100%;
  }

  .time-control-up {
    border-radius: 0 3px 0 0;
    border-bottom: none;
  }

  .time-control-down {
    border-radius: 0 0 3px 0;
  }
}
