body:has(.main) {
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: calc(100vw - var(--sidebar-width));
    height: calc(100vh - var(--topbar-height));
  }
}
