body:has(.main) {
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: calc(100dvw - var(--content-margin-left));
    height: calc(100dvh - var(--topbar-height));
  }
}
