.fixed {
  position: fixed;
}

.sidebar {
  z-index: 1;
  margin-top: 0 !important;
  top: var(--sidebar-margin-top);
  user-select: none;
}

.sidebar,
.topbar {
  svg {
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
  }
}

.topbar {
  top: 0;
  z-index: 2;
  user-select: none;

  > main {
    display: none !important;
  }

  aside:has(> .topbarLeftAsideChild) {
    min-width: var(--content-margin-left);
    justify-content: center;

    .topbarLeftAsideChild {
      color: var(--color-blue-300) !important;

      font-size: 1.5rem;
      padding: 0.5rem;
      letter-spacing: 0.05rem;
      font-weight: bolder;

      &:hover {
        text-decoration: none;
      }

      &.normal .logoCenter {
        color: var(--color-blue-200) !important;
      }

      &.mini {
        display: none;
        width: 3rem;
        justify-content: center;
      }
    }
  }

  > aside:last-child {
    padding-right: min(5dvw, 100px);
  }
}

body:has(.content) {
  /* if --sidebar-width == 0px
      => 0px
    else
      => max(--sidebar-width, --sidebar-min-width)
  */
  --content-margin-left: min(
    calc(var(--sidebar-width) * 999999),
    max(var(--sidebar-width), var(--sidebar-min-width))
  );
}

.content {
  --content-margin-top: var(--topbar-height);
  margin-left: var(--content-margin-left);
  margin-top: var(--content-margin-top);

  background: var(--color-gray-950);
  color: white;
  min-height: calc(100dvh - var(--content-margin-top));
  min-width: calc(100dvw - var(--content-margin-left));
}

@media (width < 600px) {
  :global(body):has(.sidebar) {
    --sidebar-width: 0px;

    .sidebar {
      display: none !important;
    }
  }

  .topbar {
    display: flex;

    > aside:first-of-type {
      display: contents;
      > .mini {
        display: flex !important;
        border-right: var(--color-gray-900) solid 1px;
      }
      > .normal {
        display: none;
      }
    }

    > main > a,
    > aside:first-of-type > a {
      padding: 0 clamp(0.5rem, calc(6dvw - 0.7rem), 4rem) !important;
    }

    > main {
      display: flex !important;
      > * {
        border-right: var(--color-gray-900) solid 1px;
      }
    }

    > aside:last-of-type {
      padding: 0;
      width: 100%;
      justify-content: center;
    }
  }
}

@media (width < 360px) {
  .topbar {
    min-width: 262px;

    > aside:last-of-type {
      > button:not(:has(svg)) {
        padding: 0.3rem clamp(0.5rem, calc(9dvw - 1rem), 1.5rem) !important;
      }
    }
  }
}
