.button {
  padding: 0.3rem 1.5rem !important;
  border-radius: 1rem;
  font-weight: bold;
}

@media (width < 600px) {
  .button {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    font-size: 0.8rem;
  }
}
