.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc(100dvw - var(--content-margin-left));
  min-height: calc(
    100dvh - var(--topbar-height, 0px) - var(--tabs-height, 0px)
  );
  padding: 1rem;

  @media(width < 500px) {
    padding: 1rem 0.25rem;
  }
}

.container > main {
  width: 100%;
  flex-grow: 1; /* height 100% */
  max-width: 800px;
  display: flex;
  flex-flow: column nowrap;
}

:global(.mcenter-media-player-open) .container > main {
  padding-bottom: var(--media-player-height);
}

.container > main h1,
.container > main h2,
.container > main h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.1;
  text-align: center;
  white-space: nowrap;
}

.container > main h1 {
  font-size: 3rem;
}

.container > main h2 {
  font-size: 2rem;
}

.container > main h3 {
  font-size: 1.5rem;
}
