*:has(> .title) {
  display: flex;
  flex-direction: column;

  @media (width < 500px) {
    padding: 0 2rem;
  }
}

.stamp {
  position: fixed;
  bottom: 1rem;
  left: var(--content-margin-left);
  text-align: center;
  width: calc(100dvw - var(--content-margin-left));
  color: var(--color-gray-300);
}

.title {
  line-height: 1.15;
  font-size: 2rem;
  margin: auto 0;
}

.title,
.version,
.date {
  text-align: center;
}
