.container {
  --tabs-height: 2rem;
  margin-top: var(--topbar-height);
  padding-top: var(--tabs-height);

  .tabs {
    position: fixed;
    z-index: 100;
    top: var(--topbar-height);
    width: calc(100dvw - var(--content-margin-left));
    height: var(--tabs-height);
  }
}
