.newPlaylistSection {
  display: flex;
  justify-content: right;
  margin: 0.5rem 0;
}

.noPlaylists {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  p {
    text-align: center;
  }
  button {
    width: auto;
  }
}
