.deleteButton {
  a {
    color: var(--color-red);
  }
}


.disabled a {
  filter: saturate(0.5) opacity(0.4) !important;

  &:hover {
    cursor: default;
  }
}


:global(.ui-kit-accordion .body):has(> .actionsBar:first-child) {
  padding-top: 0 !important;
}
