html:has(.container:not(.closed)) {
  overflow: hidden;
}

.container {
  --z-index: 210;
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: linear-gradient(
    var(--color-gray-900),
    var(--color-gray-975) 61.8%
  );
  color: var(--color-gray-400);
  z-index: var(--z-index);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5rem;

  transition: transform 0.2s;

  @starting-style {
    transform: translateY(100%);
  }

  &.closed {
    transform: translateY(100%);
  }
}
