.closeButton {
  --padding: 0rem;
}

.header,
.footer {
  --button-size: 2rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex-shrink: 0;
}

.header {
  margin-bottom: 1rem;
  justify-content: flex-end;
}

.footer {
  margin-top: 1rem;
  justify-content: space-between;

  > aside {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

.playQueueWrapper {
  height: 100%;

  .playQueue {
    font-size: 0.9em;
    height: 100%;
    overflow-y: auto;
  }
}

.activeViewButton {
  cursor: default !important;
}

*:has(> .activeViewButton) {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.underline {
  position: absolute;
  height: 0.25rem;
  bottom: -0.25rem;
  width: 100%;
  background-color: var(--color-blue);
}

.title {
  margin-top: 0;
  text-align: center;
  color: var(--color-gray-25);
}
