.content {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  width: 100%;
  height: 100%;

  & > *:nth-child(1) {
    flex: 1;
  }

  & > *:nth-child(2) {
    flex: 0.75;
  }
}

.controlsRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;

  --button-size: 2rem;
}

.progressBarWrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  position: relative;

  & > *:first-child {
    z-index: calc(var(--z-index) + 1);
    --clickacle-height: 2.5rem !important;
  }

  .timeLabelsRow {
    position: absolute;
    top: 2rem;
    width: 100%;
    font-size: 0.9em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    user-select: none;
  }
}

.trackInfo {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  gap: 0.5rem;

  .title {
    color: var(--color-gray-25);
    font-size: 1.5em;
    margin: 0;
  }

  .artist {
    margin: 0;
  }
}

.coverSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.controls {
  --button-size: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

@media (width < 350px) {
  .controlsRow {
    --padding: 0.25rem;

    .controls {
      --padding: 0rem;
    }
  }
}

.imageCover {
  width: 100cqmin;
  height: 100cqmin !important;
}

.coverWrapper {
  flex: 1;
  display: grid;
  place-items: center;
  container-type: size;
}

.bottomSection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
