.modal {
  width: 50rem;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2rem;
}

:global(body):has(.container) > div {
  margin-bottom: 0;
}

body:has(.tabs) {
  --tabs-height: calc(2rem + 40px + 0.5rem);

  &:has(.tabs > main:empty) {
    --tabs-height: 2rem;
  }

  .tabs > main:empty {
    display: none !important;
  }

  header:has(.searchBar) {
    margin: 0.25rem 0;
    background: var(--color-gray-950);
  }

  @media (width >= 600px) {
    --tabs-height: 2rem;

    &:has(.tabs > main:empty) {
      --tabs-height: 0;
    }

    header:has(.searchBar) {
      margin: 0;
      .searchBar {
        display: none;
      }
    }
  }
}
