:global(body):has(.container) > div {
  margin-bottom: 0;
}

body:has(.tabs) {
  --searchBar-height: calc(40px + 0.5rem);
  --tabs-height: calc(2rem + var(--searchBar-height));

  &:has(.tabs > main:empty) {
    --tabs-height: var(--searchBar-height);
  }

  .tabs > main:empty {
    display: none !important;
  }

  header:has(.searchBar) {
    margin: 0.25rem 0;
    background: var(--color-gray-950);
  }

  @media (width >= 600px) {
    --tabs-height: 2rem;

    &:has(.tabs > main:empty) {
      --tabs-height: 0;
    }

    header:has(.searchBar) {
      margin: 0;
      .searchBar {
        display: none;
      }
    }
  }
}
